.decor-index-block {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(100);
    height: rem(82);

    .icon:first-child {
        position: absolute;

        color: $color-orange;
        fill: transparent;
    }

    span {
        font-size: rem(30);
        font-weight: bold;
        color: $color-grow;
    }
}
