mixin decor-index-block(index)
    .decor-index-block&attributes(attributes)
        +icon({icon: 'decor-block'})
        span= index

mixin decor-index-block-icon(iconName, iconWidth, iconHeight)
    .decor-index-block&attributes(attributes)
        +icon({icon: 'decor-block'})
        +icon({icon: iconName, iconWidth:iconWidth, iconHeight:iconHeight})
