.page-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: rem(10);

    font-size: rem(18);

    &__left,
    &__right {
        display: block;
        width: rem(28);
        height: rem(16);
        fill: $color-grow;

        &.is-disable {
            fill: $color-gray;

            &:hover {
                fill: $color-gray;
            }
        }

        &:hover {
            fill: darken($color-orange, 10%);
        }
    }

    &__left {
        margin-right: rem(25);

        transform: rotate(180deg);
    }

    &__right {
        margin-left: rem(25);
    }

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(35);
        height: rem(37);
        margin: 0 rem(5);

        color: $color-grow;
        text-align: center;

        &:hover,
        &.is-current {
            color: #fff;

            background-color: #d4872b;
        }
    }

    &__dots {
        margin: 0 10px;
    }

    &__show-all {
        margin-left: rem(20);

        color: $color-grow;

        &:hover {
            text-decoration: underline;
        }
    }
}
