.page-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: rem(10);
    font-size: rem(18);

    &__left,
    &__right {
        display: block;
        width: rem(28);
        height: rem(16);
        fill: #4d2d0a;

        &.is-disable {
            fill: #C4C4C4;

            &:hover {
                fill: #C4C4C4;
            }
        }

        &:hover {
            fill: #B47323;
        }
    }

    &__left {
        margin-right: rem(25);
        transform: rotate(180deg)
    }

    &__right {
        margin-left: rem(25);
    }

    &__numbers {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(35);
        height: rem(37);
        margin: 0 rem(5);

        color: #4d2d0a;
        text-align: center;

        &:hover,
        &.is-current {
            color: #fff;

            background-color: #d4872b;

            // border-color: $color-root-red-1;
            // background-color: $color-root-red-1;
        }
    }

    &__show-all {
        margin-left: rem(20);

        color: #4d2d0a;

        &:hover {
            text-decoration: underline;
        }
    }
}
