mixin page-nav()
    .page-nav
        SPAN.page-nav__left.is-disable
            +icon({icon: 'arrow', iconWidth:'28', iconHeight:'16'})
        .page-nav__numbers
            SPAN.page-nav__num.is-current 1
            A.page-nav__num(href=jv0) 2
            SPAN.page-nav__dots ...
            A.page-nav__num(href=jv0) 10
            A.page-nav__show-all(href=jv0) Показать все
        A.page-nav__right(href=jv0)
            +icon({icon: 'arrow', iconWidth:'28', iconHeight:'16'})
