extends ../layouts/default

include ../components/breadcrumb/breadcrumb
include ../components/feedback-btn/feedback-btn
include ../components/feedback-modal/feedback-modal

block vars
    -pageSettings.title = 'Блоки';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Образцы гранита', 'Лабрадорит'],
        }

block content
    +breadcrumb(breadcrumb)

    +wrapp
        +title("Лабрадорит - описание, свойства и характеристики", 'h1')

        img(src="static/img/general/granite/5.jpg", alt="Гранит Габбро-Диабаз" style="float: left; margin: 0 10px 10px 0")

        p Месторождения этого древнего строительного материала довольно распространенные во многих странах мира. Но каждое из них имеет какую-то свою отличительную черту, свою индивидуальность, поэтому все их можно считать редкими и уникальными. Лабрадорит представляет собой горную крупнозернистую породу черного, серого, коричневого цветов, с множеством разноцветных кристаллов.

        p Кристаллы могут иметь разнообразную цветовую гамму: от ярко-желтого до темно-зеленого, от светло-голубого до синего, от молочного до огненно- красного. Именно, благодаря такой оригинальной расцветке, он и заслужил к себе столь пристальное внимание, обрел всемирную популярность много лет назад.

        p На Украине первое месторождение лабрадорита было исследовано в 1894 году на Житомирщине, возле села Головино. Позже это стало знаменитое головинское месторождение лабрадорита, которое на сегодняшний день является одним из крупнейших поставщиков лабрадорита, как на Украине так и за рубежом.


        h2 Минеральный состав:
        ul
            li плагиоклаз (лабрадор) – 85%;
            li кварц – 7%; пироксен – 3%;
            li калиевый полевой шпат – 3%;
            li других примесей – 1%.

        h2 Физико–механические свойства

        p Физико–механические свойства этой породы полностью располагают к использованию его как прекрасного материала для декора помещений, облицовки, как внутри зданий, так и снаружи, изготовлению всевозможной сувенирной продукции.

        p Лабрадорит, добываемый на месторождениях Житомирской области, соответствует 1 классу радиоактивности, что говорит о нем, как об абсолютно безвредном для человеческого организма материале.

        p Что касается остальных свойств, то они показывают его, как материал достаточно прочный (прочность на сжатие – 162МПа, прочность на изгиб – 621МПа); износостойкий (истираемость – 0.50 г/см2), стойкий к атмосферным явлениям (водопоглощение – 0.21%). Гарантия службы лабрадорита, в готовом изделии – 200 лет. Но, как показали многочисленные археологические находки, это далеко не максимальный срок.

        p Лабрадорит хорошо поддается различным видам обработки: резке, шлифовке, термообработке. Поэтому изготовление изделий из него давно уже поставлено на производственный уровень. Очень большой спрос на лабрадорит в виде облицовочного материала, который используется во всех видах помещений без ограничения, благодаря своей экологической чистоте и отсутствием радиоактивности.

        p Гранит лабрадорит — плотный и массивный камень, который имеет кристаллическую, крупнозернистую структуру. Его цвет обычно коричневатый, серый или черный, с большим количеством разноцветных вкраплений. Светлые оттенки встречаются, но реже. После полировки этого камня, при попадании солнечных лучей, он переливается синими, серебристыми, зелеными, желтыми цветами. Существуют некоторые разновидности этого камня:

        ul
            li камень с золотистыми переливами – солнечный камень;
            li очень темный камень, переливающийся голубым и синим – черный лунный камень;
            li спектролит — лабрадорит, отливающийся всеми цветами радуги, считается наиболее ценным видом данного минерала.

        p Главное преимущество какое имеет гранит лабрадорит, это большая износостойкость. Гарантия службы изделий из него более двухсот лет, но это далеко не предельный срок. Также он хорошо поддается шлифовке и термообработке. Прекрасно держит полировку, после которой приобретает яркие оттенки.

        +feedback-btn
        +feedback-modal
