extends ../layouts/default

include ../components/special-offers/special-offers
include ../components/memorial-block/memorial-block
include ../components/breadcrumb/breadcrumb
include ../components/page-nav/page-nav
include ../components/address/address
include ../components/vertical-main-menu/vertical-main-menu


block vars
    -pageSettings.title = 'Блоки';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Каталог продукции', 'Еще раздел'],
        }

block content
    +wrapp
        +title("Блоки", 'h2')

        h2 Карточка:
        +memorial-block(memorialBlocks.items[1])
        +memorial-block(memorialBlocksDiscount.items[1])

        br
        br

        +special-offers(memorialBlocksDiscount)

        hr

        +vertical-main-menu(verticalMainMenu)

    +wrapp
        +title("Навигация", 'h2')

        h3 "Крошки":
        +breadcrumb(breadcrumb)
        hr

        h3 Пагинация:
        +page-nav

        hr

        h3 Адрес:
        +address
        hr
