extends ../layouts/default

include ../components/memorial-block/memorial-block
include ../components/breadcrumb/breadcrumb
include ../components/page-nav/page-nav


block vars
    -pageSettings.title = 'Блоки';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Каталог продукции', 'Еще раздел'],
        }

block content
    +wrapp
        +title("Заголовок h1")
        +title("Заголовок h2", 'h2')
        +title("Заголовок h3", 'h3')
        +title("Заголовок h4", 'h4')
        +title("Заголовок h5", 'h5')
        +title("Заголовок h6", 'h6')

        hr

    +wrapp
        +title("Блоки")

        h2 Карточка
        +memorial-block(memorialBlocks.items[1])

        hr

    +wrapp
        +title("Навигация")

        h3 "Крошки"
        +breadcrumb(breadcrumb)
        hr

        h3 Пагинация
        +page-nav

        hr
