extends ../layouts/default

include ../components/vertical-main-menu/vertical-main-menu
include ../components/memorial-block/memorial-block
include ../components/catalog/catalog
include ../components/breadcrumb/breadcrumb
include ../components/page-nav/page-nav

block vars
    -verticalMainMenu.data[0].index = 0;
    -pageSettings.title = 'Комплексы';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Каталог продукции', 'Комплексы'],
        }

block content
    .page-catalog
        +breadcrumb(breadcrumb)
        +wrapp
            +title('Комплексы')
        +wrapp.wrapp--flex
            +vertical-main-menu(verticalMainMenu)
            +catalog-list()
