extends ../layouts/default

include ../components/memorial-block/memorial-block
include ../components/breadcrumb/breadcrumb
include ../components/feedback-btn/feedback-btn
include ../components/granite-samples/granite-samples
include ../components/feedback-modal/feedback-modal

block vars
    -pageSettings.title = 'Образцы гранита';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Образцы гранита'],
        }

block content
    +breadcrumb(breadcrumb)
    +wrapp
        +title('Образцы гранита')
        +granite-samples
        +feedback-btn

    +feedback-modal
