extends ../layouts/default


block vars
    -pageSettings.title = 'Pages';

block content
    +wrapp
        ul
            li
                a(href="main.html") Главная
            li
                a(href="catalog.html") Каталог
            li
                a(href="catalog-list.html") Раздел каталога
            li
                a(href="delivery.html") Доставка и установка

