extends ../layouts/default

block vars
    -pageSettings.title = 'Страницы';

block content
    +wrapp
        ol
            li
                a(href="icons-page.html") Иконки
            li
                a(href="ui.html") UI
            li
                a(href="blocks-page.html") Блоки
        hr

        ol
            li
                a(href="main.html") Главная
            li
                a(href="catalog.html") Каталог
            li
                a(href="catalog-list.html") Раздел каталога
            li
                a(href="catalog-detail.html") Детальная страница
            li
                a(href="delivery.html") Доставка и установка
            li
                a(href="granite-samples.html") Образцы гранита
            li
                a(href="article-page.html") Текстовая страница


