extends ../layouts/default

//- include ../components/main-banners/main-banners
//- include ../components/icon-info-blocks/icon-info-blocks
//- include ../components/sliders/sliders
//- include ../components/sliders-manufactures/sliders-manufactures
//- include ../components/banner/banner
//- include ../components/catalog-blocks/catalog-blocks
//- include ../components/subscribe-form/subscribe-form
//- include ../components/main-news/main-news
//- include ../components/news-block/news-block
include ../components/vertical-main-menu/vertical-main-menu

block vars
    -pageSettings.title = 'Главная';

block content
    +wrapp
        +title('Изготовление памятников')
    +wrapp.wrapp--flex
        +vertical-main-menu(verticalMainMenu)

        div
            p Обеспечение достойных почестей родным людям после их ухода в иной мир – наш долг. Одним из способов поддержания памяти о покойных выступает оформление участка на кладбище. Красивый ритуальный ансамбль выразит любовь и уважение, а также увековечит память о дорогом человеке.

            p Изготовление памятников – приоритетное направление деятельности Тульского Камнеобрабатывающего Комбината. Выполненный из натурального камня, красивый и ухоженный монумент воплотит чувство выполненного долга перед теми, кто всегда будет жить в наших сердцах. Выбор памятного сооружения для безвременно ушедшего – сложная процедура, сопровождаемая тем, что скорбящие переживают трагедию и принимать подобные решения в таком состоянии очень тяжело. Наша компания предлагает профессиональные услуги по производству и монтажу ритуальных надгробий, способных украсить место захоронения наилучшим образом.

            h3 Наши преимущества

    //-     +sliders(sliders.bestsellers)
    //- +wrapp.wrapp--flex
    //-     +banner
    //-     +sliders(sliders.new)
    //- +wrapp.wrapp--flex
    //-     +sliders(sliders.sale)
    //-     +banner

