extends ../layouts/default

include ../components/vertical-main-menu/vertical-main-menu
include ../components/memorial-block/memorial-block
include ../components/main-catalog/main-catalog
include ../components/special-offers/special-offers
include ../components/develop-monument/develop-monument
include ../components/main-manufacture/main-manufacture

block vars
    -pageSettings.title = 'Главная';

block content
    +wrapp
        +special-offers(memorialBlocksDiscount).special-offers--main

    +main-manufacture

    +wrapp
        .main-catalog__icon-decor
            +icon({icon: 'decor-line', iconWidth:'410', iconHeight:'29'})
        +title('Каталог продукции').main-catalog__title
    +main-catalog()
