extends ../layouts/default

include ../components/vertical-main-menu/vertical-main-menu
include ../components/memorial-block/memorial-block
include ../components/main-catalog/main-catalog
include ../components/special-offers/special-offers
include ../components/develop-monument/develop-monument

block vars
    -pageSettings.title = 'Главная';

block content
    +wrapp
        +special-offers(memorialBlocksDiscount).special-offers--main
        +title('Изготовление памятников')
    +wrapp.wrapp--flex
        +vertical-main-menu(verticalMainMenu)
        +develop-monument

    +wrapp
        +title('Каталог продукции')

        p(style={width: '89%', margin: '25px auto'}) Обеспечение достойных почестей родным людям после их ухода в иной мир – наш долг. Одним из способов поддержания памяти о покойных выступает оформление участка на кладбище. Красивый ритуальный ансамбль выразит любовь и уважение, а также увековечит память о дорогом человеке.

        +main-catalog
