extends ../layouts/default

//- include ../components/main-banners/main-banners
//- include ../components/icon-info-blocks/icon-info-blocks
//- include ../components/sliders/sliders
//- include ../components/sliders-manufactures/sliders-manufactures
//- include ../components/banner/banner
//- include ../components/catalog-blocks/catalog-blocks
//- include ../components/subscribe-form/subscribe-form
//- include ../components/main-news/main-news
//- include ../components/news-block/news-block

block vars
    -pageSettings.title = 'Главная';

block content
    //- +wrapp
    //-     +sliders(sliders.bestsellers)
    //- +wrapp.wrapp--flex
    //-     +banner
    //-     +sliders(sliders.new)
    //- +wrapp.wrapp--flex
    //-     +sliders(sliders.sale)
    //-     +banner

