extends ../layouts/default

include ../components/memorial-block/memorial-block
include ../components/breadcrumb/breadcrumb
include ../components/feedback-btn/feedback-btn
include ../components/feedback-modal/feedback-modal
include ../components/our-work/our-work

block vars
    -pageSettings.title = 'Наши работы';
    -
        breadcrumb = {
            main: 'Главная',
            items: ['Наши работы'],
        }

block content
    +breadcrumb(breadcrumb)
    +wrapp
        +title('Наши работы')

        +feedback-btn

    +feedback-modal
