mixin memorial-block(data)
    A.memorial-block
        .memorial-block__photo
            img(src="static/img/general/trash/monument/"+data+'.png', alt="Мемориальный комплекс")
        .memorial-block__info
            .memorial-block__name Мемориальный комплекс
            .memorial-block__price 600 000 <span class="rub"></span>
