.memorial-block {
    display: inline-block;
    width: rem(274);
    min-width: rem(233);
    max-width: rem(274);

    text-decoration: none;

    @include below(1023px) {
        width: rem(233);
    }

    &:hover {
        text-decoration: none;

        .memorial-block__photo img {
            transform: scale(1.06);
        }

        .memorial-block__name {
            text-decoration: underline;
        }
    }

    &--category {
        .memorial-block__price {
            display: none;
        }

        .memorial-block__name {
            font-size: rem(24);
            margin-top: 0;
            margin-bottom: 0;

            @include below(1023px) {
                font-size: rem(20);
            }
        }

    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(239);

        border-top: 1px solid #ebccad;
        border-right: 1px solid #ebccad;
        border-left: 1px solid #ebccad;
        background-color: #fff;

        @include below(1023px) {
            height: rem(203);
        }

        img {
            display: block;
            max-width: 90%;
            max-height: 90%;

            transition: transform 0.3s;

            @include below(1210px) {
                max-width: 88%;
                max-height: 88%;
            }

            @include below(1024px) {
                max-width: 79%;
                max-height: 80%;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: rem(25) rem(28);

        background-color: #fbf7f3;

        @include below(1023px) {
            padding: rem(20) rem(21);
        }
    }

    &__name {
        margin-bottom: rem(7);

        font-size: rem(18);
        font-weight: bold;
        color: $color-grow;
        letter-spacing: -0.02em;

        @include below(1023px) {
            margin-bottom: rem(10);

            font-size: rem(14);
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 81%;

        font-size: rem(22);

        @include below(1242px) {
            font-size: rem(20);
        }

        @include below(1023px) {
            width: 78%;

            font-size: rem(18);
            letter-spacing: -0.02em;
        }

        &-old {
            color: #383838;

            span {
                &:first-child {
                    text-decoration: line-through;
                    text-decoration-color: #383838;
                }
            }
        }

        &-value {
            font-weight: bold;
            color: #000000;
        }
    }
}
