mixin subscribe-form(data)
    form.subscribe-form(action="" method="post")
        +wrapp
            h5.subscribe-form__title Подпишитесь на рассылку
            p.subscribe-form__text Будьте всегда в курсе специальных предложений!

            .subscribe-form__field
                input(type="email" required placeholder="Введите Ваш email").subscribe-form__input
                button(type="submit").subscribe-form__button Подписаться
