.special-offers {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: rem(631);
    padding: rem(50) rem(20);

    border-radius: 5px;
    background: rgba(77, 45, 10, 0.7);

    @include below($screen-xl) {
        height: rem(453);
        padding-top: rem(30);
    }

    &--main {
        margin-top: rem(76);
        margin-bottom: rem(73);

        @include below(1210px) {
            margin-top: rem(50);
            margin-bottom: rem(50);
        }

        @include below($screen-xl) {
            padding-top: rem(29);
            padding-right: rem(25);
            padding-left: rem(24);
            margin-top: 0;
        }
    }

    &__title {
        margin: 0 0 rem(56) 0;

        font-family: 'PT Serif';
        font-size: rem(40);
        font-weight: bold;
        color: #ffffff;
        text-align: center;

        @include below($screen-xl) {
            margin-bottom: rem(20);

            font-size: rem(24);
            line-height: rem(28);
        }
    }

    &__items {
        width: 76.6%;
        margin: 0 auto 10px auto;

        @include below(1210px) {
            width: 80%;
        }

        @include below($screen-xl) {
            width: 100%;
            // margin-bottom: rem(15);
        }

        .memorial-block {
            display: block;
            margin: 0 auto;
        }
    }

    &__icon {
        text-align: center;

        .icon {
            color: #ffffff;
            fill: none;

            @include below($screen-xl) {
                width: 100%;
            }
        }
    }

    .swiper-pagination {
        position: relative;

        margin: 10px auto;

        .swiper-pagination-bullet {
            margin: 0 10px;

            &-active {
                background: #ffffff;
            }
        }
    }
}
