include ../memorial-block/memorial-block

mixin special-offers(data)
    .special-offers&attributes(attributes)
        .special-offers__title Специальные предложения
        .special-offers__items
            .swiper-container
                .swiper-wrapper
                    each item in data.items
                        .swiper-slide
                            +memorial-block(item)
            .swiper-pagination

        .special-offers__icon
            +icon({icon: 'decor-line', iconWidth:'410', iconHeight:'29'})
