.wrapp {
    width: 97.7%;
    max-width: $max-width;
    margin: 0 auto;

    @include below($screen-xl) {
        width: 88%;
    }

    &-main {
        min-height: 100%;
        overflow: hidden;
    }

    &--flex {
        display: flex;
        justify-content: flex-start;
    }
}
