.mobile-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(77, 45, 10, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: ease all 0.6s;

    &.is-close {
        transform: translate3d(0, -100%, 0);

        @include below(520px, 'height') {
            transform: translate3d(0, -200%, 0);
        }
    }

    &__close {
        position: absolute;
        top: rem(23);
        right: rem(22);

        width: rem(31);
        height: rem(30);

        border: none;
        background-color: transparent;
        background-image: url("../img/minified-svg/close.svg");
        background-size: rem(31) rem(30);
        outline: none;
    }

    &__list {
        padding: 0;
        margin: 0 0 0 rem(40);

        list-style-type: none;

        &--main {
            margin-top: rem(41);
            margin-bottom: rem(30);

            text-transform: uppercase;

            li {
                margin-bottom: rem(15);
            }
        }

        &--second {
            li {
                margin-bottom: rem(7);
            }
        }

        li {
            &.is-active {
                text-decoration: underline;
            }
        }

        a {
            font-size: rem(16);
            color: #ebccad;
            letter-spacing: 0.02em;
        }
    }

    &__phone {
        display: inline-block;
        margin-top: rem(27);
        margin-left: rem(40);

        font-size: rem(20);
        font-weight: bold;
        color: #ffffff;
    }
}
