// Colors
// @import ('open-color.scss')

// =============================================================================
// Colors block
// =============================================================================
$color-grow: #4d2d0a;
$color-gray-light: #E5E5E5;
$color-gray: #c4c4c4;
$color-link-text: #dfbb98;
$color-orange: #da8836;

// =============================================================================
// Font family
// =============================================================================
$font-family: 'Proxima Nova', sans-serif;
$font-family--input: $font-family;

// =============================================================================
// Font size
// =============================================================================
$font-size-root: 16;
$font-size: ($font-size-root * 1px);

// =============================================================================
// Font size h1-h6
// =============================================================================
$font-size--h1: rem(36);
$font-size--h2: rem(30);
$font-size--h3: rem(24);
$font-size--h4: rem(18);
$font-size--h5: rem(14);
$font-size--h6: rem(12);

// =============================================================================
// Site variable
// =============================================================================
$color-background: #ececec;
$color-text: #383838;

$transition-link: 0.3s all ease;
$max-width: 1213px;

/* HEADER */
$header-top-background: $color-grow;
$header-background: #ffffff;
$header-color-icon: $color-text;

/* SANDWICH */
$sandwich-width: rem(30, $font-size-root);
$sandwich-background: #dedddb;

/* FOOTER */
$footer-background: $color-grow;

// $input-color: #2b93da;
// $input-color--focus: $oc-blue-2;
// $input-color--error: $oc-red-5;
// $input-color--checked: $oc-cyan-5;

// =============================================================================
// Screen size
// =============================================================================
$screen-sm:  320px;
$screen-xsm: 375px;
$screen-md:  425px;
$screen-lg:  768px;
$screen-xl:  1024px;
$screen-xxl: $max-width;
