mixin catalog-detail(data)
    .catalog-detail
        h1.catalog-detail__title Памятник на могилу GP14
        .catalog-detail__content
            .catalog-detail__photo
                img(src="static/img/general/trash/monument/4.png", alt="Памятник на могилу GP14")
            .catalog-detail__info
                .catalog-detail__desc
                    p <b>Описание:</b>
                    p Семейный горизонтальный памятник "Особняк" на большой подставке из гранита Карелии Габбро-Диабаз. В стоимость комплекта памятника входит 3 элемента: стела, постамент, цветник / полировка комплекта 1 сторона.
                +table-size-price.catalog-detail__table
                +feedback-btn


