.catalog-detail {
    margin-top: rem(-6);
    margin-bottom: rem(60);
    @include below($screen-xl) {
        margin: 0 auto rem(30) auto;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include below($screen-xl) {
            display: block;
        }
    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        width: rem(415);
        height: rem(415);
        margin-right: rem(70);

        border: 1px solid #ebccad;
        background: #ffffff;
        @include below($screen-xl) {
            width: rem(278);
            height: rem(278);
            margin: 0 auto;
        }

        img {
            display: block;
            max-width: 88%;
            max-height: 88%;
            @include below($screen-xl) {
                max-width: 79%;
                max-height: 80%;
            }
        }
    }

    &__info {
        width: rem(520);
        @include below($screen-xl) {
            width: 100%;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: rem(-30);
        margin-left: rem(487);

        font-family: 'PT Serif';
        font-size: rem(28);
        font-weight: bold;
        font-style: normal;
        line-height: rem(30);
        letter-spacing: -0.02em;
        @include below($screen-xl) {
            margin-bottom: rem(16);
            margin-left: 0;

            font-size: rem(22);
            line-height: rem(23);
            text-align: center;
        }
    }

    &__desc {
        margin-top: rem(58);

        font-size: rem(16);
        line-height: rem(19);
        @include below($screen-xl) {
            margin-top: rem(20);
        }
    }

    &__table {
        margin-top: rem(27);
        margin-bottom: rem(46);
    }

    .feedback-btn {
        text-align: left;
        @include below($screen-xl) {
            text-align: center;
        }
    }
}
