.catalog-detail {
    margin-top: rem(-6);
    margin-bottom: rem(60);

    @include below(1023px) {
        margin: 0 auto rem(30) auto;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include below(1023px) {
            display: block;
        }
    }

    &__photo {
        background: #FFFFFF;
        border: 1px solid #EBCCAD;
        width: rem(415);
        height: rem(415);
        flex: 0 0 auto;
        margin-right: rem(70);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;

            max-width: 88%;
            max-height: 88%;

            @include below(1023px) {
                max-width: 79%;
                max-height: 80%;
            }
        }

        @include below(1023px) {
            margin: 0 auto;
            width: rem(278);
            height: rem(278);
        }
    }

    &__info {
        width: rem(520);

        @include below(1023px) {
            width: 100%;
        }
    }

    &__title {
        margin-top: 0;
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: bold;
        font-size: rem(28);
        line-height: rem(30);
        letter-spacing: -0.02em;

        margin-left: rem(487);
        margin-bottom: rem(-30);

        @include below(1023px) {
            margin-left: 0;
            margin-bottom: rem(16);
            text-align: center;
            font-size: rem(22);
            line-height: rem(23);
        }
    }

    &__desc {
        font-size: rem(16);
        line-height: rem(19);
        margin-top: rem(58);

        @include below(1023px) {
            margin-top: rem(20);
        }
    }

    &__table {
        margin-bottom: rem(46);
        margin-top: rem(27);
    }

    .feedback-btn {
        text-align: left;

        @include below(1023px) {
            text-align: center;
        }
    }
}
