.vertical-main-menu {
    margin-right: 35px;

    &__item {
    }

    &__title {
        width: rem(275);
        height: rem(54);

        color: #ffffff;

        border: none;
        background: #d4872b;
    }

    &__list {
        padding: 0;
        margin: 0;

        background-color: #fff;
        list-style-type: none;

        a {
            position: relative;

            padding-left: rem(45);

            color: $color-text;

            &::before {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: rem(33);
                height: rem(29);

                background-image: url('../img/minified-svg/small-block-decor.svg');
                background-size: rem(33) rem(29);
                opacity: 0;

                transition: opacity 0.3s;
            }

            &:hover {
                color: #da8836;
                text-decoration: none;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
}

