mixin header-phone()
    .header-phone&attributes(attributes)
        .header-phone__text Самая выгодная цена по вашему эскизу или фотографии памятника
        .header-phone__buttons
            .header-phone__btn.header-phone__btn--whatsapp +7 (910) 555 48 89
            .header-phone__btn.header-phone__btn--viber +7 (910) 555 48 89
