include ../../link-viber/link-viber
include ../../link-whatsapp/link-whatsapp

mixin header-phone()
    .header-phone&attributes(attributes)
        .header-phone__text Самая выгодная цена по вашему<br> эскизу или фотографии памятника
        .header-phone__buttons
            +link-whatsapp
            +link-viber
