mixin header-phone()
    .header-phone&attributes(attributes)
        .header-phone__text Самая выгодная цена по вашему<br> эскизу или фотографии памятника
        .header-phone__buttons
            a(href="tel:89105554889").header-phone__btn.header-phone__btn--whatsapp
                span +7 (910) 555 48 89
            a(href="tel:89105554889").header-phone__btn.header-phone__btn--viber
                span +7 (910) 555 48 89
