.header-phone {
    margin-top: rem(23);

    @include below($screen-xl) {
        margin-top: 0;
        margin-right: rem(32);
        margin-left: auto;
    }

    &__text {
        margin-bottom: rem(27);

        font-size: rem(16);
        font-weight: bold;
        color: $color-grow;

        @include below($screen-xl) {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        @include below($screen-xl) {
            a {
                padding: 5px;
                overflow: hidden;

                .icon {
                    margin: 0;
                }

                span {
                    display: none;
                }
            }
        }

        @include below(465px) {
            display: none;
        }

        .link-whatsapp {
            margin-right: 10px;
        }
    }
}
