mixin table-size-price(data)
    table.table-size-price&attributes(attributes)
        tr
            th Размер памятника
            th Цена
        tr
            td 100 x 50 x 5 см
            td 600 000 <span class="rub"></span>
        tr
            td 100 x 50 x 8 см
            td 650 000 <span class="rub"></span>
        tr
            td 120 x 60 x 8
            td 680 000 <span class="rub"></span>
