.table-size-price {
    table {
        width: 100%;
    }

    tr {
    }

    th {
        padding: rem(12) rem(27);

        font-size: rem(18);
        line-height: rem(18);
        color: $color-grow;
        text-align: left;
        letter-spacing: -0.02em;

        background-color: #fff;

        @include below($screen-xl) {
            padding: rem(15) rem(15);

            font-size: rem(16);
            line-height: rem(16);
        }

        &:first-child {
            width: rem(215);

            @include below($screen-xl) {
                width: auto;
            }
        }

        &:last-child {
            padding-left: 0;
        }
    }

    td {
        padding: rem(15) rem(27);

        font-size: rem(16);
        color: $color-text;

        border-bottom: 2px solid $color-gray;

        @include below($screen-xl) {
            padding: rem(15) rem(15);
        }

        &:last-child {
            padding-left: 0;

            font-size: rem(22);
            font-weight: bold;
            line-height: rem(21);
            letter-spacing: -0.02em;

            @include below($screen-xl) {
                font-size: rem(18);
            }
        }
    }
}
