.footer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(88);
    margin-top: auto;

    color: $color-gray;

    background-color: $footer-background;

    &::before {
        content: '';

        position: absolute;
        top: -8px;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: $footer-background;
    }

    &__wrapp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include below($screen-xl) {
            display: block;

            text-align: center;
        }
    }

    &__copyright {
        font-size: rem(16);
        color: $color-gray;

        @include below($screen-xl) {
            margin-bottom: rem(10);

            font-size: rem(14);
        }
    }

    &__phone {
        font-size: rem(18);
        font-weight: bold;
        color: $color-gray;
    }
}
