.footer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(88);
    margin-top: auto;

    color: $color-gray-light;

    background-color: $footer-background;

    @include below($screen-xl) {
        height: rem(120);

        .social-links {
            justify-content: center;
            margin-bottom: 5px;
        }
    }

    &::before {
        content: '';

        position: absolute;
        top: -8px;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: $footer-background;
    }

    &__wrapp {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include below($screen-xl) {
            display: block;

            text-align: center;
        }
    }

    &__copyright {
        font-size: rem(16);
        color: $color-gray-light;

        @include below($screen-xl) {
            margin-bottom: rem(10);

            font-size: rem(14);
        }
    }
}
