.product-price {
    display: flex;
    margin: .5em 0;

    font-size: 25px;

    &__price {
        font-weight: bold;
        color: $color-root-red-2;
        // text-shadow: $price-shadow;

        & + .product-price__rub {
            // text-shadow: $price-shadow;
        }

        &--discount {
            // text-shadow: $price-shadow--discount;

            & + .product-price__rub {
                // text-shadow: $price-shadow--discount;
            }
        }

        &--line {
            font-size: 18px;
            font-weight: normal;
            color: $color-root-gray-light-1;
            text-decoration: line-through;
        }
    }

    &__rub {
        @include Rouble(0.8em, 1);
        position: relative;
        // top: 3px;

        margin: 0 .5em;

        font-size: .7em;
        // font-weight: bold;
        line-height: 1em;
    }
}
