mixin price-options(data)
    .price-options
        +title('Цены на дополнительные услуги', 'h2')
        ul.price-options__list
            li.price-options__item
                h5.price-options__title Стоимость установки
                p.
                    Высота стелы до 1м. — 8500 руб.<br>
                    Высота стелы 1м. — 9500 руб.<br>
                    Высота стелы 1.2м. — 10500 руб.<br>
                    Высота стелы 1.4м. — 13500 руб.<br>
                    Высота стелы 1.6м. — 15000 руб.<br>
                    Установка комплекса — 15-20% от общей стоимости
            li.price-options__item
                h5.price-options__title Стоимость гравировки
                p.
                    Портрет ручной гравировки — 8 000 руб.<br>
                    Гравировка на станке — 3 500 руб. +500 руб. ретушь фото<br>
                    ФИО и даты — 40 руб. знак<br>
                    Покрытие антидождь — Бесплатно
            li.price-options__item
                h5.price-options__title Доставка и хранение
                p.
                    по Москве и М.О до 50 км. — Бесплатно<br>
                    по МО (до 100 км) — 3 000 руб.<br>
                    по МО (до 150 км) — 4 500 руб.<br>
                    Самовывоз и хранение — Бесплатно<br>
                    Стоимость доставки без установки по г. Москва 2 000 руб.
