mixin product-quantity(data)
    .product-quantity&attributes(attributes)
        BUTTON(type="button").product-quantity__minus
            +fa-icon('minus')
        INPUT(type="phone" value=data maxlength="2" minlength="1" name="quantity").product-quantity__count
        BUTTON(type="button").product-quantity__plus
            +fa-icon('plus')
