mixin header-work-time()
    .header-work-time
        .header-work-time__free Эскиз 3D - бесплатно
        A.header-work-time__phone(href="tel:89105554889") 8 (910) 555 48 89
        .header-work-time__day Работаем ежедневно с 09:00 до 20:00
        .header-work-time__holiday В выходные и праздничные дни для посещения офиса необходима предварительная запись!
