.logo {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 30px;

    &:hover {
        text-decoration: none;
    }

    &__img {
        display: block;
        width: rem(77);
    }

    &__text {
        padding-left: rem(15);

        font-family: 'PT Serif';
        font-size: rem(38);
        font-weight: bold;
        color: $color-grow;
    }
}
