mixin search-form(data)
    +b.FORM.search-form(action="/" type="get")
        +e.wrapp
            +e.select
                +e.SELECT.option(name="category")
                    option(value="all") Все категории
                    option(value="woman") Женщинам
                    option(value="man") Мужчинам
                    option(value="two") Парам
                    option(value="sex") Для секса
                    option(value="clothes") Одежда
                +e.option-arrow
            +e.INPUT.field(name="search" type="text" placeholder="Что вы хотите найти?")
            +e.BUTTON.btn(type="submit")
                +fa-icon('search')
