mixin all-categories-menu(data)
    +b.NAV.all-categories-menu
        +e.UL.list
            for first in data
                +e.LI.item
                    +e.A.link(href=jv0)
                        =first.title
                        +fa-icon('angle-right')

                    if first.items
                        +b.all-categories-menu-second
                            if first.items[0].items
                                +e.table
                                    for item in first.items
                                        +e.wrapp
                                            if item.title
                                                +e.A.link-section(href=jv0)= item.title
                                            +e.UL.list
                                                for second in item.items
                                                    +e.LI.item
                                                        +fa-icon('angle-right').all-categories-menu-second__icon
                                                        +e.A.link(href=jv0)= second.title
                            else
                                +e.UL.list
                                    for item in first.items
                                        +e.LI.item
                                            +fa-icon('angle-right').all-categories-menu-second__icon
                                            +e.A.link(href=jv0)= item.title
