.product-payment {
    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 50%;
        padding-right: 20px;
        margin-right: 20px;

        border-right: 1px solid $color-root-gray-light;

        &:last-child {
            margin: 0;

            border: none;
        }
    }

    &__title {
        margin-top: 0;

        color: $color-root-gray;
    }

    &__text {
        color: $color-root-gray;
    }
}
