.icon-basket {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
        .icon_cart {
            fill: $color-link--hover;
        }
    }

    &__icon {
        .icon_cart {
            width: 32px;
            height: 32px;

            transition: $transition-link;
            fill: $color-root-gray;
        }
    }

    &__text {
        display: inline-block;
        margin-left: rem(10);

        font-size: rem(14);
    }

    &__count {
        position: absolute;
        top: rem(-2);
        left: rem(20);

        width: rem(20);
        height: rem(20);

        font-size: rem(13);
        font-weight: bold;
        color: white;
        text-align: center;

        border-radius: 50%;
        background-color: $color-root-red-1;
    }

    &--menu {
        margin-left: 30px;

        .icon_cart {
            fill: white;
        }

        .icon-basket {
            &__text {
                display: none;
            }

            &__count {
                color: $color-root-gray;

                background-color: #fff;
            }
        }

        &:hover {
            .icon_cart {
                fill: $color-root-gray;
            }
        }
    }
}
