mixin icon-basket(data)
    A.icon-basket(href=jv0)&attributes(attributes)
        SPAN.icon-basket__icon
            +icon({icon: 'cart'})
        SPAN.icon-basket__text Корзина
        SPAN.icon-basket__count 3
