.feedback-btn {
    text-align: center;

    button {
        padding: rem(12) rem(30);

        font-size: rem(18);
        line-height: rem(22);
        color: #ffffff;
        text-transform: uppercase;

        border: none;
        border-radius: rem(5);
        background: #da8836;

        @include below(1023px) {
            padding: rem(12) rem(25);

            font-size: rem(16);
        }

        &:hover {
            color: #ffffff;

            background-color: #b47323;
        }
    }
}
