mixin title(data)
    .title&attributes(attributes)
        .title__icon.title__icon--left
        H1.title__name= data
        .title__icon.title__icon--right


mixin titleSecond(data)
    .title.title--second&attributes(attributes)
        .title__icon.title__icon--left
        H2.title__name= data
        .title__icon.title__icon--right
