.title {
    position: relative;

    padding-bottom: 10px;
    margin-bottom: 15px;

    &__name {
        position: relative;

        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;

        font-family: 'PT Serif';
        font-size: rem(28);
        line-height: rem(30);
        color: $color-grow;
        letter-spacing: -0.02em;
    }
}
