.title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(10);
    margin-top: rem(20);
    margin-bottom: rem(20);

    @include below($screen-xl) {
        display: block;

        text-align: center;
    }

    &__icon {
        position: relative;

        width: 100%;
        height: 2px;

        background-color: $color-orange;

        @include below($screen-xl) {
            display: none;
        }

        .icon {
            position: absolute;
            top: -13px;

            width: 33px;
            height: 29px;

            color: $color-orange;
            fill: none;
        }

        &::after {
            content: '';

            position: absolute;
            top: rem(-2);

            width: rem(7);
            height: rem(7);

            background: $color-orange;
            transform: rotate(-45deg);
        }

        &--left {
            margin-left: rem(32);

            .icon {
                left: rem(-32);
            }

            &::after {
                right: -1px;
            }
        }

        &--right {
            margin-right: rem(32);

            .icon {
                right: rem(-32);

                transform: rotate(180deg);
            }

            &::after {
                left: -1px;
            }
        }
    }

    &__name {
        position: relative;

        display: inline-block;
        flex: 1 0 auto;
        margin: 0 rem(45);

        font-family: 'PT Serif';
        line-height: rem(30);
        color: $color-grow;
        letter-spacing: -0.02em;

        @include below($screen-xl) {
            margin: 0;

            font-size: rem(22);
            line-height: rem(23);
        }
    }
}
