.title {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: rem(10);
    margin-top: rem(20);
    margin-bottom: rem(20);

    @include below(1023px) {
        display: block;

        text-align: center;
    }

    &__icon {
        position: relative;

        width: 100%;
        height: 2px;

        background-color: #da8836;

        @include below(1023px) {
            display: none;
        }

        &::before {
            content: '';

            position: absolute;
            top: rem(-13);

            width: rem(33);
            height: rem(29);

            background-image: url('../img/minified-svg/small-block-decor.svg');
            background-size: rem(33) rem(29);
        }

        &::after {
            content: '';

            position: absolute;
            top: rem(-2);

            width: rem(7);
            height: rem(7);

            background: #da8836;
            transform: rotate(-45deg);
        }

        &--left {
            margin-left: rem(32);

            &::before {
                left: rem(-32);
            }

            &::after {
                right: -1px;
            }
        }

        &--right {
            margin-right: rem(32);

            &::before {
                right: rem(-32);

                transform: rotate(180deg);
            }

            &::after {
                left: -1px;
            }
        }
    }

    &__name {
        position: relative;

        display: inline-block;
        flex: 1 0 auto;
        margin: 0 rem(45);

        font-family: 'PT Serif';
        font-size: rem(28);
        line-height: rem(30);
        color: $color-grow;
        letter-spacing: -0.02em;

        @include below(1023px) {
            margin: 0;

            font-size: rem(22);
            line-height: rem(23);
        }
    }
}
