.p-cart {
    &__info {
        margin: 15px 0;

        font-size: 22px;
        color: $oc-gray-9;

        span {
            display: inline-block;

            font-weight: bold;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

.p-cart-table {
    width: 100%;

    &__header {
        th {
            padding: 10px 0;

            color: $oc-gray-9;

            border-bottom: 1px solid $oc-gray-3;

            &:nth-child(1),
            &:nth-child(2) {
                text-align: left;
            }
        }
    }

    &__footer {
        text-align: right;
    }
}

.p-cart-table-item {
    color: $oc-gray-7;

    td {
        border-bottom: 1px solid $oc-gray-3;
    }

    &__img {
        width: 200px;
    }

    &__row {
        &--img {
            width: 200px;
        }

        &--options {
            width: 590px;
            padding-top: 10px;

            vertical-align: top;

            a {
                display: block;

                text-decoration: underline;
            }
        }

        &--price {
            text-align: center;
        }

        &--quantity {
            text-align: center;

            .product-quantity {
                display: inline-flex;
            }
        }

        &--price-all {
            text-align: center;
        }

        &--del {
            text-align: center;

            button {
                font-size: 22px;
                color: $oc-gray-8;

                border: none;
                background: none;

                transition: color 0.3s ease;

                &:hover {
                    color: $color-root-red-2;
                }
            }
        }
    }
}

.p-cart-submit {
    padding: 10px 20px;

    color: white;

    border: none;
    border-radius: 3px;
    background-color: $color-root-red-2;

    transition: background 0.3s ease;

    .fa-icon {
        margin-right: 10px;
    }

    &:hover {
        background-color: $color-gray;
    }
}

.p-cart-back {
    color: $color-root-red-1;

    &:hover {
        text-decoration: underline;
    }

    .fa-icon {
        margin-right: 10px;

        text-decoration: none;
    }
}
