mixin delivery(data)
    .delivery
        .delivery-item
            .delivery-item__left
                +decor-index-block-icon('auto', 28, 22)
            .delivery-item__right
                h4.delivery-item__title Доставка
                p.delivery-item__desc Для наших клиентов мы разработали оптимальные тарифы на доставку памятников и мемориальных комплексов. В большинстве случаев доставка памятника до кладбища осуществляется бесплатно.

        .delivery-item
            .delivery-item__left
                +decor-index-block-icon('wrench', 23, 23)
            .delivery-item__right
                h4.delivery-item__title Установка
                p.delivery-item__desc.
                    Высота стелы до 1м. — 8500 руб.<br>
                    Высота стелы 1м. — 9500 руб.<br>
                    Высота стелы 1.2м. — 10500 руб.<br>
                    Высота стелы 1.4м. — 13500 руб.<br>
                    Высота стелы 1.6м. — 15000 руб.<br>
                    Установка комплекса — 15-20% от общей стоимости
