.feedback-form {
    &__title {
        margin-top: rem(25);
        margin-bottom: rem(20);

        font-family: 'PT Serif';
        font-size: rem(28);
        font-weight: bold;
        line-height: rem(30);
        text-align: center;
        letter-spacing: -0.02em;
        @include below($screen-xl) {
            margin-top: 0;

            font-size: rem(20);
            line-height: rem(20);
        }
    }

    &__form {
        input {
            &[type=text],
            &[type=tel] {
                display: block;
                box-sizing: border-box;
                width: 100%;
                padding: rem(10);
                margin-bottom: rem(20);

                color: $color-text;

                border: none;
                border-bottom: rem(2) solid $color-gray;
            }
        }

        textarea {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: rem(119);
            padding: rem(10);
            margin-bottom: rem(30);
            resize: none;

            color: $color-text;

            border: rem(2) solid $color-gray;
        }
    }

    &__form-consent {
        position: relative;
        z-index: 2;

        display: flex !important;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: rem(30);
        padding-left: rem(45);
        margin-bottom: rem(25);

        font-size: rem(14);

        cursor: pointer;

        &::before {
            content: '';

            position: absolute;
            top: rem(0);
            left: 0;

            box-sizing: border-box;
            width: rem(30);
            height: rem(30);

            border: rem(2) solid $color-gray;
        }

        &::after {
            content: '';

            position: absolute;
            top: rem(7);
            left: rem(7);

            width: rem(16);
            height: rem(16);

            background: $color-orange;
            opacity: 0;

            transition: opacity 0.3s;
        }
    }

    &__checkbox-wrap {
        position: relative;

        margin-bottom: rem(38);
    }

    input[type=checkbox] {
        display: block;
        width: 0;
        height: 0;

        &:checked + label::after {
            opacity: 1;
        }
    }

    &__form-footer {
        text-align: center;
    }
}
