include ../main-slider/main-slider

mixin main-banners(data)
    .main-banners
        +wrapp.main-banners__wrapp
            .main-banners__slider
                +main-slider
            a.main-banners__hot(href=jv0)
                img(src="%=static=%img/general/trash/banner-hot.jpg", alt="banner-hot.jpg")
