.header {
    padding-bottom: rem(50);

    background-color: white;

    &__top {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        height: rem(50);
        padding: rem(8) rem(25);

        font-size: rem(18);

        background-color: $header-top-background;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    &__top-wrapp {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    &__middle {
        height: rem(156);
    }

    &__middle-wrapp {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
    }
}
