include header-top-menu/header-top-menu
include logo/logo
include header-phone/header-phone
include header-work-time/header-work-time
include ../address/address

mixin header()
    .header
        .header__top
            +wrapp.header__top-wrapp
                +header-top-menu(headerTopMenu)
                +address.header__city

        .header__middle
            +wrapp.header__middle-wrapp
                +logo
                +header-phone
                +header-work-time
                button.header__burger
