include header-top-menu/header-top-menu
include logo/logo
include sandwich/sandwich
include ../search-form/search-form
include ../address/address
include ../icon-wishlist/icon-wishlist
include ../icon-basket/icon-basket

mixin header()
    .header
        .header__top
            +wrapp.header__top-wrapp
                +header-top-menu(headerTopMenu)
                +address.header__city

        .header__middle
            +wrapp.header__middle-wrapp
                +logo
                +search-form
                +icon-wishlist
                +icon-basket
