.main-catalog {
    margin-top: rem(70);
    margin-bottom: rem(20);

    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: rem(30);

        .memorial-block {
            margin-bottom: rem(35);
        }
    }

    &__footer {
        text-align: center;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(248);
        height: rem(45);
        margin: 0 auto;

        font-size: rem(18);
        color: #ffffff;
        text-transform: uppercase;

        border-radius: rem(5);
        background-color: #da8836;

        &:hover {
            color: #ffffff;

            background-color: #b47323;
        }
    }
}
