.link-whatsapp {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px 5px 5px;

    color: #fff;

    border-radius: 5px;
    background: rgb(32, 176, 56);
    background: linear-gradient(0deg, rgba(32, 176, 56, 1) 0%, rgba(96, 214, 106, 1) 100%);

    .icon {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        fill: #fff;
    }

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}
