mixin adults-only(data)
    .adults-only&attributes(attributes)
        .adults-only__icon
            +icon({icon: 'adult_only'})
        .adults-only__text Контент предназначен для лиц, достигших возраста 18 лет!
