.granite-samples {
    margin-bottom: rem(55);

    &__desc {
        margin-top: rem(29);
        margin-bottom: rem(47);

        font-size: rem(16);
        line-height: rem(19);
        text-align: center;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 84%;
        padding: 0;
        margin: 0;
        margin: 0 auto rem(20) auto;

        list-style-type: none;
    }

    &__item {
    }
}

.granite-samples-item {
    width: rem(175);

    &__photo {
        width: rem(143);
        height: rem(143);
        margin: 0 auto;
        overflow: hidden;

        border-radius: 50%;

        img {
            display: block;
        }
    }

    &__name {
        margin-top: rem(20);

        font-size: rem(18);
        font-weight: bold;
        line-height: rem(18);
        color: #4d2d0a;
        text-align: center;
        letter-spacing: -0.02em;
    }
}
