mixin granite-samples(data)
    .granite-samples
        p.granite-samples__desc Гранит – идеальный материал для создания обелисков и надгробий.<br> Он имеет высокие показатели износостойкости, прочности и долговечности.

        ul.granite-samples__list
            li.granite-samples__item
                .granite-samples-item
                    .granite-samples-item__photo
                        img(src="static/img/general/granite/1.jpg", alt="Гранит Габбро-Диабаз")
                    .granite-samples-item__name Гранит Габбро-Диабаз
            li.granite-samples__item
                .granite-samples-item
                    .granite-samples-item__photo
                        img(src="static/img/general/granite/2.jpg", alt="Гранит Габбро-Диабаз")
                    .granite-samples-item__name Гранит Дымовский, Балтийский
            li.granite-samples__item
                .granite-samples-item
                    .granite-samples-item__photo
                        img(src="static/img/general/granite/3.jpg", alt="Гранит Габбро-Диабаз")
                    .granite-samples-item__name Гранит Мансуровский
            li.granite-samples__item
                .granite-samples-item
                    .granite-samples-item__photo
                        img(src="static/img/general/granite/4.jpg", alt="Гранит Габбро-Диабаз")
                    .granite-samples-item__name Мрамор Коелга
            li.granite-samples__item
                .granite-samples-item
                    .granite-samples-item__photo
                        img(src="static/img/general/granite/5.jpg", alt="Гранит Габбро-Диабаз")
                    .granite-samples-item__name Гранит Лабродорит
