include ../our-advantages/our-advantages

mixin develop-monument(data)
    .develop-monument
        p Обеспечение достойных почестей родным людям после их ухода в иной мир – наш долг. Одним из способов поддержания памяти о покойных выступает оформление участка на кладбище. Красивый ритуальный ансамбль выразит любовь и уважение, а также увековечит память о дорогом человеке.

        p Изготовление памятников – приоритетное направление деятельности Тульского Камнеобрабатывающего Комбината. Выполненный из натурального камня, красивый и ухоженный монумент воплотит чувство выполненного долга перед теми, кто всегда будет жить в наших сердцах. Выбор памятного сооружения для безвременно ушедшего – сложная процедура, сопровождаемая тем, что скорбящие переживают трагедию и принимать подобные решения в таком состоянии очень тяжело. Наша компания предлагает профессиональные услуги по производству и монтажу ритуальных надгробий, способных украсить место захоронения наилучшим образом.

        +our-advantages(ourAdvantages)
