.sort-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__views {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__btn {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        margin-right: 10px;

        border: 0;
        background: none;

        &:last-child {
            margin-right: 0;
        }

        &.is-active {
            .icon {
                fill: $color-root-red-2;
            }
        }

        .icon {
            width: 20px;
            height: 20px;
            fill: $color-root-gray-light-1;
        }
    }

    &__sorts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__select {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
