mixin sort-product(data)
    .sort-product&attributes(attributes)
        .sort-product__views
            BUTTON(type="button").sort-product__btn.is-active
                +icon({icon:'th-large'}).sort-product__icon
            BUTTON(type="button").sort-product__btn
                +icon({icon:'th-list'}).sort-product__icon

        .sort-product__sorts
            .sort-product__select
                label(for="select-show-count") Показывать:
                select(name="show-count" id="select-show-count")
                    option(value="9" select) 9
                    option(value="15") 15
                    option(value="21") 21
            .sort-product__select
                label(for="select-sort-product") Сортировать:
                select(name="sort-product" id="select-sort-product")
                    option(value="ask-price" select) по возрастанию цены
                    option(value="desc-price") по убыванию цены
                    option(value="name") по имени
                    option(value="rating") по рейтингу
