.address {
    display: flex;
    align-items: center;

    &__icon {
        display: inline-block;
        margin-right: rem(12);

        .icon {
            fill: $color-link-text;
        }
    }

    &__name {
        font-size: rem(18);
        color: $color-link-text;
    }
}
