.tabs {
    position: relative;
    z-index: 1;
    top: 2px;

    display: flex;
    justify-content: flex-start;

    border-bottom: 1px solid $color-root-gray-light;

    &__item {
        padding-bottom: 15px;
        margin-right: 25px;

        font-size: 18px;
        font-weight: bold;
        color: $color-root-gray;
        text-transform: uppercase;

        border-bottom: 2px solid transparent;
        cursor: pointer;

        transition: $transition-link;

        &:hover,
        &.is-active {
            color: $color-root-red-2;

            border-color: $color-root-red-2;
        }
    }
}
