mixin breadcrumb(data)
    +b.NAV.breadcrumb&attributes(attributes)
        +wrapp
            +e.UL.list
                +e.LI
                    +e(href="/")= data.main
                each item, ind in data.items
                    - var isLast = (ind === data.items.length - 1)
                    +e.LI
                        if isLast
                            +e.SPAN= item
                        else
                            +e(href=jv0)= item
