.breadcrumb {
    padding: rem(8) rem(0);
    margin-top: rem(17);
    margin-bottom: rem(32);

    font-size: rem(13);

    @include below($screen-xl) {
        display: none;
    }

    &__list {
        padding: 0;
        margin: 0;

        list-style-type: none;
    }

    li {
        position: relative;

        display: inline-block;
        padding-right: 1em;
        margin: 0 .3em;

        &::before {
            content: '>';

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            margin: auto 0;
        }

        &:last-child {
            color: #878787;

            &::before {
                content: none;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        color: #383838;

        &:hover {
            color: #383838;
            text-decoration: underline;
        }
    }
}
