.news-block {
    width: 267px;

    &__img {
        display: block;
        width: 267px;
        height: 178px;
    }

    &__title {
        margin-bottom: 0;

        font-size: 15px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__date {
        font-size: 13px;
    }

    &__desc {
        margin: 10px 0;

        font-size: 15px;
    }

    &__detail {
        font-size: 13px;
        color: $color-root-red-1;

        &:hover {
            text-decoration: underline;
        }
    }
}
