.product-slider {
    border-bottom: 1px solid $color-root-gray-light;

    img {
        max-width: 100%;
        height: rem(400);
        margin: 0 auto;
    }

    .slick-initialized .slick-slide {
        position: relative;

        background: white;
        outline: none;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            margin: auto;

            font-family: 'FontAwesome';
            line-height: rem(400);
            // color: $oc-gray-9;
            text-align: center;

            opacity: 0;

            transition: opacity .3s;
        }

        &::before {
            content: $fa-var-search;

            font-size: rem(70);
        }

        &::after {
            content: $fa-var-plus;

            transform: translateX(rem(-5));
        }

        &:hover {
            &::before,
            &::after {
                opacity: .7;
            }
        }
    }
}

.product-slider-nav {
    margin-top: 15px;

    img {
        display: block;
        height: 134px;
        margin: 0 5px;
        margin: 0 auto;

        cursor: pointer;
    }

    .slick-slide {
        width: 140px;

        opacity: .7;
        outline: none;

        &:hover {
            opacity: .8;
        }
    }

    .slick-current {
        opacity: 1;

        &:hover {
            opacity: 1;
        }
    }
}
