.icon-info {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    flex: 1 0 auto;
    max-width: 270px;
    padding: rem(15);

    color: $color-root-gray;

    border: 1px solid #e8e8e8;
    border-radius: 3px;

    &__icon {
        margin-right: 10px;

        font-size: 36px;
    }

    &__text {
    }

    &__name {
        font-weight: bold;
    }

    &__desc {
        font-size: 13px;
    }

    .fa-percent::before {
        content: '%';

        font-weight: bold;
    }
}
