mixin feedback-modal(data)
    .feedback-modal
        .feedback-modal__overlay


        .feedback-modal__content
            button(type="button" title="Закрыть").feedback-modal__close
                +icon({icon: 'close', iconWidth:'31', iconHeight:'30'})

            .feedback-modal__title Заказать или задать вопрос

            form(action="post").feedback-modal__form
                input(type="text" name="name"  required placeholder="Имя")
                input(type="tel" name="phone"  required placeholder="Телефон")
                textarea(name="text" required placeholder="Комментарий")

                label
                    input(type="checkbox" name="consent" required value="1")
                    | Согласие на обработку персональных данных

                .feedback-modal__form-footer
                    button(type="send") Отправить
