mixin main-manufacture(data)
    .main-manufacture
        +wrapp
            +title('Изготовление памятников')
        +wrapp.wrapp--flex
            +vertical-main-menu(verticalMainMenu)
            +develop-monument
