mixin sliders-manufactures(data)
    .sliders-manufactures
        .sliders-manufactures__content
            each item in slidersManufactures.items
                A(href=jv0).sliders-manufactures__item
                    img(src=item, alt="")
