.our-advantages {
    &__title {
        margin-bottom: rem(60);

        font-size: rem(24);
    }

    &__lists {
    }

    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: rem(32);
    }

    &__item-left {
        margin-right: rem(25);
    }

    &__item-right {
    }

    &__item-title {
        margin-top: 0;

        font-size: rem(18);
    }

    &__desc {
        font-size: rem(16);
    }
}
